body {
  height: 100vh;
  width: 100vw;
  overflow: auto;

}

.imageSlide {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  margin-left: 0vmin;
  margin-right: 0vmin;
  overflow-x: auto;
  /*overflow-y: hidden;*/
  margin-top: 20px;
  z-index: 2;
}

.imageSlide::-webkit-scrollbar {
  background-color: transparent;
}

.image-container {
  height: auto;
}

.image {
  width: 40vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 0 center;
}
