@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.modalContainer.closing {
    animation: fadeOut 0.5s ease forwards;
}

.modalBackground {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modalContainer {
    top:-2vh;
    position: relative;
    height: 85vh;
    width: 85vw;
    background-color: #202124;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    z-index: 998;
    animation: fadeIn 0.5s ease forwards;
}
.modalImage {
    width: 80vw;
    height: 85vh;
    margin-right: 1rem;
    border-radius: 20px;
}
h1 {
    flex: 1;
}
.city{
    font-family: 'Lato', sans-serif;
    font-weight: 350;
}
.country{
    font-family: 'Lato', sans-serif;
    font-weight: 380;
}
.buttonStyle {
    borderRadius:50px;
    color: white;
    height:70px;
    width:60px;
    fontSize:20px;
    marginTop:10px;
    marginRight:40px
}


/* Modal.css */
.customButton {
    border-radius: 16px;
    color: white;
    height:10vh;
    width: 17vw;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
}



.searchButton {
    background: rgba(20, 65, 210, 0.7);
}

.bookButton {
    background: rgba(229, 123, 55, 0.7);
}

.placesContainer {
    background: rgb(34, 5, 45, 0.7);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    width: 245px;
}

.placesTitle {
    color: white;
    font-size: 22px;
    text-align: center;
}

.placesItem {
    color: white;
    font-size: 18px;
    text-align: center;
}
